<!DOCTYPE html>
<html lang="en">

<head>
	<!-- basic -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1" />
	<!-- site metas -->
	<title>Donate</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="/asserts/css/bootstrap.min.css" />
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="/asserts/css/style.css" />
	<!-- donate form css-->
	<!-- Responsive-->
	<link rel="stylesheet" href="/asserts/css/responsive.css" />
	<!-- fevicon -->
	<link rel="icon" href="/asserts/img/fevicon.png" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="/asserts/css/jquery.mCustomScrollbar.min.css" />
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="/asserts/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="/asserts/css/owl.theme.default.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen" />
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>

<body>
	
  </script>
	<!--header section start -->
	<div class="header_section">
		<div class="container-fluid">
			<div class="main">
				<div class="logo">
					<a href="#"><img src="/asserts/img/Donate_logo.png" style="width: 10%" /></a>
				</div>
				<div class="menu_text">
					<ul>
						<div class="togle_">
							<div class="menu_main">
								<ul>
									<li><a href="hospitallogin">Login</a></li>
									<li>
										<a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div id="myNav" class="overlay">
							<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
							<div class="overlay-content">
								<a href="#">Home</a>
								<a href="#about">About</a>
								<a href="#findorgans">Find Organ</a>
								<a href="#donate">Donate Organ</a>
							</div>
						</div>
						<span class="navbar-toggler-icon"></span>
						<span onclick="openNav()"><img src="/asserts/img/toogle-icon1.png" class="toggle_menu" /></span>
						<span onclick="openNav()"><img src="/asserts/img/toogle-icon1.png"
								class="toggle_menu_1" /></span>
					</ul>
				</div>
			</div>
		</div>
		<!-- banner section start -->
		<div class="banner_section layout_padding">
			<div class="container">
				<div id="my_slider" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-md-6">
									<div class="container hero-container">
										<h1 class="banner_taital">Organ'isation</h1>
										<p class="banner_text">
											Us Organ'ization provides you a platform to share
											with others, a powerful gift of giving. You can save
											someone's life by donating organs and not only saving,
											improving their quality of life.
										</p>
										<div class="more_bt">
											<a href="#findorgans">Find Organ</a>
										</div>
										<div class="ml-5 more_bt">
											<a href="#donate"><span class="button-heart"><i class="fas fa-heart"></i></span> Donate Organ <span class="button-heart"><i class="fas fa-heart"></i></span></a>		
										</div>
									</div>
								</div>
								<!-- <div class="col-md-6">
									<div class="banner_img">
										<img src="/asserts/img/human_organ.png" />
									</div>
								</div> -->
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-md-6">
									<div class="container">
										<h1 class="banner_taital">Get Medical Care early</h1>
										<p class="banner_text">
											There are many variations of passages of Lorem Ipsum
											available, but the majority have suffered alteration in
											some form.
										</p>
										<div class="more_bt">
											<a href="findorgan">Find Organ</a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="banner_img">
										<img src="/asserts/img/banner-img.png" />
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-md-6">
									<div class="container">
										<h1 class="banner_taital">Get Medical Care early</h1>
										<p class="banner_text">
											There are many variations of passages of Lorem Ipsum
											available, but the majority have suffered alteration in
											some form.
										</p>
										<div class="more_bt">
											<a href="#findorgans">Find Organ</a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="banner_img">
										<img src="/asserts/img/banner-img.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- banner section end -->
	</div>
	<!-- header section end -->
	<!-- protect section end -->
	<!-- about section start -->
	<div class="about" id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 about-bg">
					<img src="/asserts/img/about.png"/>
				</div>
				<div class="col-md-4">
					<h1 class="text-center">About Us</h1>
					<p class="m-5">
						We at organ'zation provide you a platform to donate
						precious organs. On an average 500,000 people die 
						because of non-availability of organs. And a very huge 
						percentage of them die due to unawareness of an 
						available organs. We are here to bring you closer to 
						people who are there to help you. Kindess and love 
						exists in the darkest of times, we provide you the 
						torch. We refresh our database every hour to keep 
						an up-to-date database of available donations in 
						required condition. We also use doctoral supervision
						to keep a check of condition of incoming donations and 
						add it to our database only after being certified by
						respective hospitals. 
					</p>
				</div>				
			</div>
		</div>
	</div>
	<!-- about section end -->
	<!-- Find Organ start-->
	<div class="container findorgans" id="findorgans">
		<div class="row">
			<div class="col-md-6">
				<h1>Find An Organ!</h1>
				<form action="/organ" method="POST">
					<!-- <div class="form-group row">
						<label for="inputDistance" class="col-sm-3 col-form-label">Distance:</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="inputDistance"
								placeholder="Find hospital within your comfortable radius(in kms)!" />
						</div>
					</div>
					<div class="form-group row">
						<label for="inputZip" class="col-sm-3 col-form-label">Zip :</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="inputZip" value="560001" />
						</div>
					</div> -->
					<div class="form-group row">
						<label for="inputPassword" class="col-sm-6 col-form-label">Choose an organ :</label>
						<select class="custom-select col-sm-12 my-1 mr-sm-5" id="inlineFormCustomSelectPref"
							name="choice">
							<option selected>Choose...</option>
							<option value="1">Heart</option>
							<option value="2">Kidney</option>
							<option value="3">Intestine</option>
							<option value="3">Liver</option>
							<option value="3">Lungs</option>
							<option value="3">Pancreas</option>
							<option value="3">Plasma</option>
						</select>
					</div>
					<div class="form-group row">
						<div class="col-sm-6">
							<!-- <div class="read_bt"><a href="organ">Submit</a></div> -->
							<button class="read_bt" type="submit">Find</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4 findorgan_illustration">
				<img src="/asserts/img/human_organ_illustration.png" />
			</div>
		</div>
	</div>
	<!-- Find Organ End-->
	<!-- Donate Organ Start-->
	<section class="donate mb-5" id="donate">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="/asserts/img/donate_organ.png" />
				</div>
				<div class="col-sm-6" style="margin: 0 auto">
					<h1>Donate Organ!</h1>
					<form action="https://formspree.io/f/xdopwwee" method="POST" id="my-form">
						<div class="form-group row">
							<label for="firstname" class="col-sm-4 col-form-label">Firstname</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="firstname" name="firstname" />
							</div>
						</div>

						<div class="form-group row">
							<label for="firstname" class="col-sm-4 col-form-label">Lastname</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="firstname" name="firstname" />
							</div>
						</div>

						<div class="form-group row">
							<label for="email" class="col-sm-4 col-form-label">Hospital email</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" id="email" name="email" />
							</div>
						</div>

						<div class="form-group row">
							<label for="dob" class="col-sm-4 col-form-label">Date of Birth</label>
							<div class="col-sm-8">
								<input type="date" class="form-control" id="dob" name="dob" />
							</div>
						</div>
						<div class="form-group row">
							<label for="dob" class="col-sm-4 col-form-label">Gender</label>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
									value="Male" />
								<label class="form-check-label" for="inlineRadio1">Male</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
									value="Female" />
								<label class="form-check-label" for="inlineRadio2">Female</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
									value="Others" />
								<label class="form-check-label" for="inlineRadio3">Others
								</label>
							</div>
						</div>
						<div class="form-group row">
							<label for="message" class="col-sm-4 col-form-label">Message</label>
							<div class="col-sm-8">
								<textarea name="message" id="message" cols="51" rows="3"></textarea>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<button type="submit" class="read_bt">
									<a href="#" class="read_bt_text">Submit</a>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--Donate Organ End-->
	<!-- footer section start -->
	<div class="footer_section layout_padding">
		<div class="container">
			<div class="footer_section_2">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<h2 class="useful_text">Resources</h2>
						<div class="footer_menu">
							<ul>
								<li><a href="#">What we do</a></li>
								<li><a href="#">Media</a></li>
								<li><a href="#">Travel Advice</a></li>
								<li><a href="#">Protection</a></li>
								<li><a href="#">Care</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h2 class="useful_text">About</h2>
						<p class="footer_text">
							Providing platform to help others react the person who is willing to help
							him in need. No one else understands the value of time except the ones who 
							have had lost races with cars and lives.
						</p>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h2 class="useful_text">Contact Us</h2>
						<div class="location_text">
							<ul>
								<li>
									<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>
										<span class="padding_15">NIT Rourkela</span></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-phone" aria-hidden="true"></i>
										<span class="padding_15">Call +91 9478987577</span></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>
										<span class="padding_15">saynaparida33@gmail.com</span></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h2 class="useful_text">countries</h2>
						<div class="map_image"><img src="/asserts/img/map-bg.png" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer section end -->
	<!-- copyright section start -->
	<div class="copyright_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<p class="copyright_text">Made with <i class="fas fa-heart"></i> and care.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- copyright section end -->
	<!-- Javascript files-->
	<script src="/public/asserts/js/bootstrap.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="js/plugin.js"></script>
	<script src="/public/asserts/js/main.js"></script>
	<!-- sidebar -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<!-- javascript -->
	<script src="js/owl.carousel.js"></script>
	<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.fancybox').fancybox({
				openEffect: 'none',
				closeEffect: 'none',
			});

			$('.zoom').hover(
				function () {
					$(this).addClass('transition');
				},
				function () {
					$(this).removeClass('transition');
				}
			);
		});
	</script>
	<script>
		function openNav() {
			document.getElementById('myNav').style.width = '100%';
		}
		function closeNav() {
			document.getElementById('myNav').style.width = '0%';
		}
	</script>
</body>

</html>